/Binaries
/DerivedDataCache
/Intermediate
/Saved

Content/*
!Content/Localization
Content/Localization/*
!Content/Localization/MocopiLiveLink



/Plugins/MocopiLiveLink/Binaries
/Plugins/MocopiLiveLink/Intermediate

/.vs
/*.sln
*.xcworkspace

